<header class="header"> 
    <section class="header__nav"> 
      <div class="container"> 
        <div class="nav__navmenu"> 
          <a href="#" class="navmenu__logo"> 
            <img 
              class="navmenu_logoimg" 
              src="@img/header-section/Logo 2.png" 
              alt="logo" 
            /> 
            <img 
              class="navmenu_logoimg-hover" 
              src="@img/header-section/logo-hover.png" 
              alt="logo" 
            /> 
            <span class="navmenu-text">ForkIO</span> 
          </a> 
   
          <button class="navmenu__button">Buy Now</button> 
          <div class="header__burger"> 
            <span class="burger-line"></span> 
          </div> 
        </div> 
   
        <nav class="nav__list"> 
          <ul class="list__menu"> 
            <li><a class="list__item" href="#">Overview</a></li> 
            <li><a class="list__item" href="#">About Fork</a></li> 
            <li><a class="list__item" href="#">Buying Options</a></li> 
            <li><a class="list__item" href="#">Support</a></li> 
          </ul> 
        </nav> 
        <nav class="nav__list2"> 
          <ul class="list__menu2"> 
            <li><a class="list__item2" href="#">Overview</a></li> 
            <li><a class="list__item2" href="#">About Fork</a></li> 
            <li><a class="list__item2" href="#">Buying Options</a></li> 
            <li><a class="list__item2" href="#">Support</a></li> 
          </ul> 
        </nav> 
      </div> 
    </section> 
    <section> 
      <div class="container"> 
        <div class="header_fork"> 
          <h1 class="fork__title">Fork App</h1> 
          <p class="fork__info"> 
            A Real Gamechanger In The World Of Web-Development 
          </p> 
          <p class="fork__infoFor768px"> 
            A real gamechanger in the world of web development 
          </p> 
          <p class="fork__version">v. 2.8 For Mac and Windows</p> 
        </div> 
      </div> 
    </section> 
  </header>
  
