.aboutFork { 
    background-image: url("../img/about-fork-section/testmonials-bg 1.png"); 
    background-position: bottom; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-bottom: -15px; 
   
    .aboutFork__title { 
      color: $color-white; 
      text-align: center; 
      font-size: 48px; 
      font-weight: 700; 
      line-height: 104%; 
      padding-top: 108px; 
   
      @media (width <= 993px) { 
        font-size: 42px; 
        line-height: 104%; 
      } 
   
      @media (width <= 481px) { 
        font-size: 36px; 
        line-height: 133%; 
      } 
   
      .aboutForc__box { 
        @media (width <= 993px) { 
          padding: 0 18px; 
        } 
   
        @media (width <= 481px) { 
          padding: 0 20px; 
        } 
      } 
    } 
   
    .aboutFork__boxCards { 
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap; 
      column-gap: 117px; 
      row-gap: 112px; 
      margin-top: 81px; 
      padding-bottom: 114px; 
   
      @media (width <= 993px) { 
        column-gap: 53px; 
      } 
   
      @media (width <= 481px) { 
        row-gap: 50px; 
        margin-top: 53px; 
        padding-bottom: 34px; 
      } 
   
      .boxCards__card { 
        max-width: 315px; 
        width: 100%; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: flex-end; 
        flex-grow: 1; 
   
        .card__img { 
          max-height: 64px; 
          display: flex; 
          align-items: end; 
          justify-content: center; 
          padding-bottom: 22px; 
        } 
      } 
   
      .card__text { 
        color: $color-white; 
        text-align: center; 
        font-family: Lato; 
        font-style: italic; 
        font-weight: 700; 
        line-height: 150%; 
      } 
    } 
   
    .aboutFork__text { 
      color: #a291a5; 
      margin: 0 auto; 
      text-align: center; 
      font-family: Lato; 
      font-size: 14px; 
      line-height: 150%; 
      max-width: 887px; 
      width: 100%; 
      padding-bottom: 49px; 
      position: relative; 
   
      &::after { 
        content: ""; 
        width: 90%; 
        height: 2px; 
        background: #645766; 
        position: absolute; 
        top: 57px; 
        right: 44px; 
   
        @media (width <=993px) { 
          top: 70px; 
        } 
   
        @media (width <= 481px) { 
          width: 100%; 
          right: 0; 
          top: 129px; 
        } 
      } 
    } 
  }
  