.header { 
    background-image: url("../img/header-section/headerBackground.png"); 
    background-repeat: no-repeat; 
    width: 100%; 
    background-position: center; 
    background-size: cover; 
    object-fit: cover; 
   
    .header__nav { 
      width: 100%; 
      background-color: black; 
   
      @media (width <= 992px) { 
        background-color: #27262a; 
      } 
   
      .nav__navmenu { 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        padding-top: 31px; 
        padding-bottom: 19px; 
        position: relative; 
   
        .navmenu__logo { 
          display: flex; 
          gap: 17px; 
          align-items: center; 
          &:hover .navmenu_logoimg { 
            display: none; 
          } 
   
          &:hover .navmenu_logoimg-hover { 
            display: block; 
          } 
   
          &:hover .navmenu-text { 
            color: $color-white; 
          } 
   
          .navmenu_logoimg-hover { 
            display: none; 
            width: 43px; 
            height: 41px; 
          } 
   
          .navmenu-text { 
            display: block; 
            color: $color-purple-hover; 
            font-size: 24px; 
            font-weight: 700; 
            line-height: 66%; 
            text-transform: uppercase; 
            transition: all 0.3s ease 0s; 
   
            @media (width <= 481px) { 
              display: none; 
            } 
          } 
        } 
        .navmenu__button { 
          @include btn; 
          padding: 11px 20px; 
          max-width: 145px; 
          width: 100%; 
          font-weight: 700; 
          line-height: 106%; 
          border: none; 
          background: $color-purple-hover; 
   
          &:hover { 
            background: $color-white; 
            color: $color-purple-hover; 
          } 
   
          @media (width <= 481px) { 
            max-width: 119px; 
            width: 100%; 
            font-size: 15px; 
            font-weight: 700; 
            line-height: 100%; 
          } 
        } 
        .header__burger { 
          width: 30px; 
          height: 20px; 
          position: relative; 
          display: none; 
   
          @media (width <= 481px) { 
            display: block; 
          } 
   
          .burger-line { 
            display: block; 
            margin-top: 1px; 
            margin-left: 10px; 
            width: 15px; 
            height: 3px; 
            background-color: $color-white; 
            border-radius: 5px; 
            transition: all 0.3s ease 0s; 
          } 
          &::after { 
            content: ""; 
            width: 26px; 
            height: 3px; 
            background-color: $color-white; 
            position: absolute; 
            border-radius: 5px; 
            bottom: 0px; 
            transition: all 0.3s ease 0s; 
          } 
          &::before { 
            content: ""; 
            width: 26px; 
            height: 3px; 
            background-color: $color-white; 
            position: absolute; 
            border-radius: 5px; 
            top: 9px; 
            transition: all 0.3s ease 0s; 
          } 
        } 
        .header__burger.active { 
          span { 
            transform: scale(0); 
          } 
          &::before { 
            transform: rotate(45deg); 
            top: 10px; 
          } 
          &::after { 
            transform: rotate(-45deg); 
            bottom: 7px; 
          } 
        } 
      } 
   
      .nav__list { 
        display: none; 
        position: fixed; 
        right: 25px; 
      } 
      .activenav { 
        display: none; 
   
        @media (width<= 481px) { 
          display: block; 
        } 
      } 
      .list__menu { 
        background-color: #333333; 
        width: 293px; 
        height: 344px; 
      } 
      .list__menu li { 
        padding-top: 29px; 
        padding-bottom: 24px; 
        border-bottom: 3px solid #3b3b3b; 
      } 
   
      .list__item { 
        color: $color-white; 
        font-size: 26px; 
        line-height: 26px; 
        padding-left: 39px; 
        position: relative; 
   
        &:focus { 
          color: $color-purple-hover; 
   
          &::before { 
            content: ""; 
            width: 8px; 
            height: 53px; 
            background-color: $color-purple-hover; 
            position: absolute; 
            left: 0;
            bottom: -10px; 
        } 
      } 
    } 
  } 
  .nav__list2 { 
    display: flex; 
 
    @media (width <= 481px) { 
      display: none; 
    } 
 
    @media (min-width: 993px) { 
      display: flex; 
      justify-content: flex-end; 
      margin-right: 195px; 
    } 
    .list__menu2 { 
      justify-content: space-between; 
      display: flex; 
      max-width: 517px; 
      width: 100%; 
      padding: 2px 0px 14px 0px; 
      margin: 0 auto; 
 
      @media (min-width: 993px) { 
        position: absolute; 
        top: 42px; 
      } 
    } 
    .list__item2 { 
      color: $color-purple-hover; 
      font-weight: 700; 
      line-height: 112%; 
      transition: all 0.3s ease 0s; 
 
      &:hover { 
        color: $color-white; 
      } 
    } 
  } 
} 
 
.header_fork { 
  margin-top: 127px; 
  padding-bottom: 523px; 
 
  @media (width <= 481px) { 
    margin-top: 49px; 
    padding: 0 84px 472px 84px; 
    padding-bottom: 416px; 
  } 
 
  @media (width <= 993px) { 
    margin-top: 68px; 
    padding: 0 10px 523px 10px; 
  } 
 
  .fork__title { 
    color: $color-white; 
    text-align: center; 
    font-size: 72px; 
    line-height: 100%; 
    font-weight: 700; 
 
    @media (width <= 481px) { 
      font-size: 48px; 
      line-height: 100%; 
    } 
 
    @media (min-width: 993px) { 
      font-size: 82px; 
      line-height: 100%; 
    } 
  } 
  .fork__info { 
    display: block; 
 
    @media (width <= 481px) { 
      color: $color-purple-hover; 
      padding-top: 19px; 
      text-align: center; 
      font-size: 18px; 
      line-height: 133%; 
    } 
  } 
 
  .fork__infoFor768px { 
    display: block; 
    color: $color-purple-hover; 
    text-align: center; 
    font-family: Lato; 
    font-size: 30px; 
    line-height: 100%; 
    padding-top: 19px; 
 
    @media (width <= 481px) { 
      display: none; 
    } 
 
    @media (width <= 993px) { 
      font-size: 24px; 
      line-height: 100%; 
    } 
  } 
 
  .fork__version { 
    padding-top: 14px; 
    color: #848e97; 
    text-align: center; 
    font-size: 14px; 
    line-height: 100%; 
    text-transform: uppercase; 
  } 
}
  