.here {
  background: #f4f4f4;
  width: 100%;

  // .here__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 70px 1fr;
    padding-top: 100px;
    padding-right: 0;

    @media (width <= 992px) {
      display: flex;
      flex-direction: column;
    }

    @media (width <= 480px) {
      padding-top: 30px;
      align-items: center;
    }
  }
  // .here__box

  &__box {
    grid-row: span 2;
    max-width: 540px;

    @media (width <= 992px) {
      order: 2;
      max-width: 100%;
      margin: 0 20px;
    }

    @media (width <= 480px) {
      margin-left: 10px;
      margin-right: 30px;
    }
  }

  // .here__title

  &__title {
    color: $color-purple-hover;
    font-size: 48px;
    font-weight: 700;
    line-height: 104%;
    margin-left: 50px;
    margin-bottom: 20px;

    @media (width <= 1134px) {
      font-size: 42px;
    }

    @media (width <= 992px) {
      text-align: center;
      margin-left: 0;
      order: 1;
      margin-bottom: 50px;
    }

    @media (width <= 480px) {
      max-width: 270px;
      font-size: 32px;
      margin-bottom: 35px;
    }
  }
  &__title::after {
    content: ">";
  }

  &__title::before {
    content: "<";
  }

  // .here__case

  &__case {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 30px;
    margin-left: 30px;
    @media (width <= 992px) {
      order: 3;
      margin-bottom: 0;
    }
  }
}
.box {
  // .box__card

  &__card {
    display: flex;
    justify-content: start;
    gap: 23px;
    margin-bottom: 35px;

    @media (width <= 992px) {
      margin-bottom: 60px;
    }

    @media (width <= 480px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      gap: 0px;
    }
  }

  &__card:last-child {
    margin-bottom: 71px;
  }

  // .box__img

  &__img {
    display: flex;
    justify-content: left;
    align-items: start;
    min-width: 110px;
    @media (width <= 480px) {
      justify-content: center;
    }
  }

  // .box__icon

  &__icon {
    @media (width <= 480px) {
      margin-bottom: 20px;
    }
  }

  // .box__info

  &__info {
    @media (width <= 480px) {
      text-align: center;
    }
  }

  // .box__title

  &__title {
    color: #323232;
    padding-bottom: 15px;
  }

  // .box__text

  &__text {
    font-family: Lato;
    color: $color-text-gray;
    font-size: 14px;
    line-height: 150%;
  }
}

.case {
  // .case__photo

  &__photo {
    width: 100%;
    height: 100%;
  }
}
