.revolutionary {
  background-color: $color-white;
  // .revolutionary__box

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 890px;

    @media (width <= 992px) {
      max-width: 1040px;
      padding: 0 40px;
    }

    @media (width <= 480px) {
      max-width: 320px;
      padding: 0 22px;
    }

    // .revolutionary__download

    &__download {
    }
  }
}
.download {
  // .download__button

  &__button {
    @include btn;
    color: $color-white;
    background: $color-purple-hover;
    font-size: 21px;
    font-weight: 700;
    line-height: 104%;
    border: 2px solid $color-purple-hover;
    padding: 23px 61px;
    margin-top: -35px;

    @media (width <=480px) {
      font-size: 16px;
      line-height: 111%;
      padding: 13px 29px;
    }
  }

  &__button:hover {
    background: $color-white;
    color: $color-purple-hover;
  }

  // .download__period

  &__period {
    color: $color-text-gray;
    font-size: 14px;
    line-height: 107%;
    margin-top: 20px;
    margin-bottom: 65px;

    @media (width <= 992px) {
      line-height: 114%;
      margin-top: 18px;
      margin-bottom: 95px;
    }

    @media (width <= 480px) {
      line-height: 100%;
      margin-top: 12px;
      margin-bottom: 70px;
    }
  }
}
.revolutionary {
  // .revolutionary__editor

  &__editor {
    @media (width <= 992px) {
      max-width: 1040px;
      padding: 0 40px;
    }

    @media (width <= 480px) {
      min-width: 320px;
      padding: 0 22px;
    }
  }

  // .revolutionary__title

  &__title {
    color: #635c73;
    font-size: 54px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 35px;

    @media (width <= 992px) {
      margin-bottom: 33px;
      font-size: 42px;
    }

    @media (width <= 480px) {
      font-size: 26px;
      line-height: 107%;
      margin-bottom: 27px;
    }
  }

  // .revolutionary__text

  &__text {
    color: #323232;
    font-family: Lato;
    font-size: 21px;
    line-height: 152%;
    margin-bottom: 13px;

    @media (width <= 992px) {
      margin-bottom: 24px;
    }

    @media (width <= 480px) {
      line-height: 142%;
      font-size: 14px;
      margin-bottom: 36px;
    }
  }
}

.editor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 250px;
  margin-bottom: 70px;

  // .editor__box

  &__box {
    display: flex;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }

  // .editor__box-info

  &__box-info {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  @media (width <= 480px) {
    font-size: 14px;
  }
}

.info {
  // .info__action

  &__icon {
    margin-left: 5px;
  }

  &__action,
  &__text {
    padding: 5px;
  }
}
