.subscription {
  background: url(../../img/subscription-section/background.png) no-repeat;
  background-size: 100% 100%;
  padding-bottom: 97px;

  // .subscription__box

  &__box {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (width <= 992px) {
      max-width: 760px;
      padding-left: 80px;
      padding-right: 103px;
    }

    @media (width <= 768px) {
      max-width: 445px;
      padding: 0 30px;
    }

    @media (width <= 480px) {
      max-width: 380px;
      padding: 0 30px;
    }
  }

  // .subscription__title

  &__title {
    color: $color-white;
    font-size: 48px;
    font-weight: 700;
    line-height: 104%;
    padding-top: 83px;
    margin-bottom: 61px;

    @media (width <= 992px) {
      font-size: 42px;
      padding-top: 79px;
      margin-bottom: 39px;
    }

    @media (width <= 768px) {
      font-size: 35px;
    }

    @media (width <= 480px) {
      font-size: 28px;
      line-height: 150%;
    }
  }

  // .subscription__box-card

  &__box-card {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
    gap: 15px;

    @media (width <= 992px) {
      flex-wrap: wrap;
      gap: 25px;
    }
    @media (width <= 480px) {
      gap: 18px;
    }
  }
}
.card {
  // .card__box

  &__box {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
    border: 1px solid #635365;
  }

  //.card__box--big

  &__box--big {
    border: 1px solid #3f2d42;
    @media (width <= 992px) {
      min-width: 300px;
      margin-left: -25px;
    }

    @media (width <= 768px) {
      margin-right: -25px;
    }

    @media (width <= 480px) {
      flex-shrink: 0;
    }
  }
  // .card__top

  &__top {
    background: #695c6c;
  }

  //.card__top--big

  &__top--big {
    background-color: #3f2d42;
  }

  // .card__bottom

  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #635365;
  }

  //.card__bottom--big

  &__bottom--big {
    background-color: #4c364e;
  }
}
.top {
  // .top__professional

  &__professional {
    color: $color-white;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 36px 0;
  }

  // .top__professional--big

  &__professional {
    padding: 43px 0;
  }
}

.bottom {
  // .bottom__price

  &__price {
    color: $color-white;
    font-size: 60px;
    line-height: 150%;
    text-transform: uppercase;
  }

  // .bottom__price--big

  &__price--big {
    font-size: 82px;
    line-height: 109%;
  }

  // .bottom__per-month

  &__per-month {
    position: relative;
    color: $color-white;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 73px;
  }
  &__per-month::after {
    content: "";
    position: absolute;
    top: 56px;
    right: calc(50% - 35px);
    background: #8d81ac;
    padding: 2px 35px;
  }
  // .bottom__per-month--big

  &__per-month--big {
    margin-top: 16px;
    margin-bottom: 91px;
  }

  // .bottom__info

  &__info {
    padding: 0 5px;
    color: $color-white;
    line-height: 112%;
    min-height: 36px;
  }
  //.bottom__button
  &__button {
    @include btn;
    max-width: 165px;
    border: 2px solid #695c6c;
    background-color: #695c6c;
    font-size: 15px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 15px 38px;
    margin-top: 67px;
    margin-bottom: 37px;
  }

  //.bottom__button--big
  &__button--big {
    font-size: 16px;
    margin-top: 83px;
    margin-bottom: 47px;
  }
}
