@import "../variables/variables";
@import "../mixins/mix";
@import "reset";
.g-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
