<section class="aboutFork"> 
    <div class="aboutForc__box container"> 
      <h2 class="aboutFork__title">People Are Talking About Fork</h2> 
   
      <div class="aboutFork__boxCards"> 
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo1.png" alt="smashing" /> 
          </div> 
          <p class="card__text"> 
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. 
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis. 
          </p> 
        </div> 
   
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo2.png" alt="codrops" /> 
          </div> 
          <p class="card__text"> 
            Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, 
            rhoncus molestie neque ac, mollis eleifend nibh. 
          </p> 
        </div> 
   
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo3.png" alt="smashing" /> 
          </div> 
          <p class="card__text"> 
            In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat 
            fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. 
          </p> 
        </div> 
   
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo4.png" alt="smashing" /> 
          </div> 
          <p class="card__text"> 
            Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. 
            Proin id dignissim magna. Sed varius urna et pulvinar venenatis. 
          </p> 
        </div> 
   
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo5.png" alt="smashing" /> 
          </div> 
          <p class="card__text"> 
            Praesent ut eros tristique, malesuada lectus vel, lobortis massa. 
            Nulla faucibus lorem id arcu consequat faucibus. 
          </p> 
        </div> 
   
        <div class="boxCards__card"> 
          <div class="card__img"> 
            <img src="@img/about-fork-section/ForkLogo6.png" alt="smashing" /> 
          </div> 
          <p class="card__text"> 
            Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. 
            Pellentesque porttitor cursus massa et vestibulum. 
          </p> 
        </div> 
      </div> 
   
      <p class="aboutFork__text"> 
        Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, 
        facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero 
        tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et 
        magnis dis parturient montes, nascetur ridiculus mus. 
      </p> 
    </div> 
  </section>
  