<section class="here">
  <div class="container here__wrapper">
    <div class="here__box box">
      <div class="box__card">
        <div class="box__img">
          <img
            class="box__icon"
            src="@img/here-section/web-better.png"
            alt="icon"
          />
        </div>

        <div class="box__info">
          <p class="box__title">Creatred to Make The Web Better</p>
          <p class="box__text">
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
            laoreet vulputate dignissim. Sed id metus id quam auctor molestie
            eget ut augue.
          </p>
        </div>
      </div>
      <div class="box__card">
        <div class="box__img">
          <img
            class="box__icon"
            src="@img/here-section/powerfull-tool.png"
            alt="icon"
          />
        </div>
        <div class="box__info">
          <p class="box__title">Incredibly Powerful Tool</p>
          <p class="box__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="box__card">
        <div class="box__img">
          <img class="box__icon" src="@img/here-section/stuff.png" alt="icon" />
        </div>
        <div class="box__info">
          <p class="box__title">Experimental Stuff</p>
          <p class="box__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
      <div class="box__card">
        <div class="box__img">
          <img
            class="box__icon"
            src="@img/here-section/web-better-watch.png"
            alt="icon"
          />
        </div>

        <div class="box__info">
          <p class="box__title">Creatred to Make The Web Better</p>
          <p class="box__text">
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
            odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
            gravida luctus. Aliquam erat volutpat.
          </p>
        </div>
      </div>
    </div>
    <p class="here__title">Here is what you get</p>
    <div class="here__case case">
      <img class="case__photo" src="@img/here-section/here.png" alt="photo" />
    </div>
  </div>
</section>
