<section class="subscription">
  <div class="subscription__box container">
    <h5 class="subscription__title">Fork Subscription Pricing</h5>
    <div class="subscription__box-card card">
      <div class="card__box">
        <div class="card__top top">
          <p class="top__professional">Students</p>
        </div>
        <div class="card__bottom bottom">
          <p class="bottom__price">$29</p>
          <p class="bottom__per-month">per month</p>
          <p class="bottom__info">Personal License <br /></p>
          <button class="bottom__button" type="button">purchase</button>
        </div>
      </div>

      <div class="card__box">
        <div class="card__top top">
          <p class="top__professional">professional</p>
        </div>
        <div class="card__bottom bottom">
          <p class="bottom__price">$59</p>
          <p class="bottom__per-month">per month</p>
          <p class="bottom__info">
            Professional License <br />
            Email Support
          </p>
          <button class="bottom__button" type="button">purchase</button>
        </div>
      </div>

      <div class="card__box card__box--big">
        <div class="card__top top card__top--big">
          <p class="top__professional top__professional--big">agency</p>
        </div>
        <div class="card__bottom bottom card__bottom--big">
          <p class="bottom__price bottom__price--big">$99</p>
          <p class="bottom__per-month bottom__per-month--big">per month</p>
          <p class="bottom__info bottom__info--big">1-12 Team Members <br /></p>
          <button class="bottom__button bottom__button--big" type="button">
            purchase
          </button>
        </div>
      </div>

      <div class="card__box">
        <div class="card__top top">
          <p class="top__professional">enterprise</p>
        </div>
        <div class="card__bottom bottom">
          <p class="bottom__price">$159</p>
          <p class="bottom__per-month">per month</p>
          <p class="bottom__info">
            Unlimited Team Members <br />
            24/ 7 Phone Support
          </p>
          <button class="bottom__button" type="button">purchase</button>
        </div>
      </div>
    </div>
  </div>
</section>
